# Local .terraform directories
**/.terraform/*

# terraform variable files
*.tfvars


# terraform state files
*.tfstate
*.tfstate.*

# ignore CLI configuration files
.terraformrc
terraform.rc

# ignore crash logs
crash.logs
